*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  width: 1000px;
  position: relative;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  grid-gap: 35px;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  height: calc(13*1.2rem);
  padding: 1.2rem 1.2rem 0;
  position:relative;
}
.card_image:before,
.card_image:after{
  content: "";
  position: absolute;
  width: 45px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}
.card_image:after{
  transform: rotate(-45deg);
  top:auto;
  bottom:-22px;
  left:40%;
}
.card_image img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.cards_item {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
}

.card_content {
  padding: 1.2rem;
}

h2.card_title,p {
  margin: 1.2rem 0;
}
h2.card_title {
    font-size: 1.3em;
}
html{
    scroll-behavior: smooth;
}
footer{
    line-height: 140%;
}
.container{
    max-width: 530px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.skill-icon{
    align-items: center;
    width:50px;
    z-index:2;
}
.skill-title{
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
 }
 .skill-title:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
.skill-title:hover::after{
    width:100%;
  }
 .img{
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    height: 55px;
    position: relative;
    border-radius: 45px;
    display:flex;
    justify-content: center;
 }
.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
}
.image-tab{
    display:flex;
    flex-wrap: wrap;
}
.text-count{
    position: relative;
    align-items: center;
    text-decoration: none;
    color: currentColor;
}
@media (max-width: 700px) {
    .container { grid-template-columns: repeat(3, 1fr); 
    }
    .cards {
        width: 350px;
        grid-template-columns: repeat(1, 1fr);
    }
    .card.image {
        height: 350px;
    }
}